<head>
<link rel="stylesheet" type="text/css" href="/css/application.css">
<title><%=@question.subject %></title>
</head>
<body>

<br>

Subject: <%= @question.subject %>
<br>

<br>
Description: <%= @question.description %>
<a href="/">Click here to return</a>

<form method="post" action="/questions/<%=@question.id%>/answers">
  <input type="text" name="answer[reply]">
  <input type="submit" value="Answer!" >
</form>

these are the answers for this question:
<ol>
  <% @question.answers.each do |ans| %>
    <li><%= ans.reply %>, answered by <%= ans.clinet.email %></li>
  <% end %>

</ol>
</body>
