<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style = "color:red" class="navbar-brand" href="#">Questions World!</a>
    </div>
    <br>

    <br>

    <form id= 'create_question' action="/questions" method="post">
      <!-- <input style="width: 20%; height: 20px" id="text_input" type="text" name="question[subject]" placeholder="What subject are you asking about? Ask and you shall receive!"> -->
      <input style="width: 50%; height: 50px" id="text_input" type="text" name="question[description]" placeholder="Ask Questions World something! Ask and you shall receive!">
      <input style="color:red" id='AskUs' type="Submit" value="Ask!">
    </form>
<!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">

      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

      <li><a  style = "color:#000000" href="#">  Profile</a></li>
      <li class="dropdown">
    <a style = "color:#191970"  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CONTROLS / LANGUAGE<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#">Your Content</a></li>
        <li><a href="/questions">Past Questions</a></li>
        <li><a href="#">Past Answers</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">User Profile</a></li>
        <li><a href="#">English</a></li>
        <li><a href="#">عربي</a></li>
        <li><a href="#">Türkçe</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Your Profile Settings</a></li>
      </ul>
    </li>
  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>


<% if current_user == @clinet %>
Your email is stored as: <%= @clinet.email %>
<% else %>
<p>Warning! You do not have permission to view this profile.</p>

<% end %>

<br>
<br>
Now that you can see a directory of our user, and have therefore found out we are the least secure website on the internet, please proceed with confidence to the next website knowing full well that new future customers will know you were here.





<style>
  .navbar-inverse{
    background-color: #AFEEEE;
  }
</style>

</body>



<p>Welcome to our new customer database. Here you can put all your valuable secret information, and trust that none of it is secure. Hope you dont blames us when you get hacked! </p>



<!-- <h2>Your user name is <%= @userName %> ! And your user key is <%= @password %> and you are from the city called <%= @var %> </h2>
 -->


 <h2>Your user name is listed below  ! And your user key is also below` and you are from the city below. Additionaly, here are the rest of the client base infomation so that we can create a sales drive campaign to target customers in the north eastern corridor for Christmas season:
 <!-- <% @all_clinets.each do |single|%> -->
 <!-- so we created a loop using .each that causes the program to check all the rows, one by one, and to store and store each row into |single| which is a variable we created  -->
 <!-- <br>
 <br>
<%= single [:visitor_name] %>
<br>
<br>
<%= single [:visitor_pw] %>
<br>
<br>
<%= single [:visitor_city] %>


 <% end %> -->
 </h2>

<table style="width:100%">
<thead>
  <tr>
      <td>user name</td>
      <td>user email</td>
      <td>password</td>
      <td>your city</td>
</tr>
</thead>

<tbody>
  <% @all_clinets.each do |single|%>
  <tr>

    <td><%= single.visitor_name %></td>
    <td><%= single.email %></td>
    <td><%= single.password_digest %></td>
    <td><%= single.visitor_city %></td>
  </tr>
  <% end %>
</tbody>

</table>
